
.navbar {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}

.navbuttons{
    font-weight: bold;
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    flex-direction: row;
}
.navlink:hover{
    opacity: 0.6;
}

.connect {
    cursor: pointer;
    outline: 0.5px solid #4c5770;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
}
@media only screen and (max-width: 800px) {
    .uno {
        flex-direction: column;
    }

    .content {
        max-width: 100vw;
    }

    .uno-left {
        max-width: 100%;
    }
    .uno-right{
        max-width: 100%;
    }
    .navbuttons {
        margin: 0px;
        justify-content: end;
    }

    .navbar {
        margin: 0px;
        justify-content: space-between;
    }

    .logo {
        margin-left: 15px;
    }
    .definition-word {
        font-size: 24px;
    }

    .stonemasters {
        max-width: 60vw;
    }
    .connect {
        margin-right: 15px;
    }
}