.chalet-wrapper {
    display: flex;
    flex-direction: column;
}

.chalet-info {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chalet-top-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(188, 188, 188);
}
.chalet-top{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1100px;

}

.chalet-tabs {
    width: 100%;
    border-bottom: 1px solid rgb(188, 188, 188);
}

ul {
    list-style: none;
}

.tab-button {
    cursor: pointer;
}

.tab-button:hover {
    background-color: theme("colors.gray.100");
}

.selected {
    color: theme("colors.sky.600");
    border-bottom: 3px solid theme("colors.sky.600");
}

.chalet-content {
    width: 728px;
}

.menu {
    font-family: "Alegreya";
}

.token-wrapper {
    justify-content: space-around;
    min-width: 100%;
}

.token-wall {
    display: flex;
    align-items: center;
    justify-content: center;
}

.token-sale {
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
}

.token-blurb {
    min-width: 250px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    /* background-color: #ff9800; */
}
.token-sale-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chalet-img {
    width: 200px;
}
.chalet-header {
    width: 650px;
}

@media only screen and (max-width: 800px) {
    .chalet-img{
        max-width: 50px; 
    }
    .chalet-top{
        flex-direction: column;
        /* flex-direction: row-rever */
    }
    .auth-button {
        display: flex;
        justify-content: end;
    }
    .chalet-top{
        max-width: 100%;
    }
    .chalet-top-inner {
        flex-direction: row;
        align-items: center;
    }
    .chalet-top-wrapper {
        background-color: #ff9800;
        color: white;
    }
    .token-info {
        display: none;
        /* flex-direction: row; */
    }
    .token-balances {
        display: none;
    }
    .chalet-content {
        max-width: 100%;
    }
    .chalet-bio {
        display: none;
    }
    .token-sale {
        min-width: 100%;
        max-width: 100%;
    }
    .token-blurb {
        min-width: 100%;
        max-width: 100%;
    }

}
