.homepage {
    display: flex;
    flex-direction: column;
}

a {
    color: #00acc1;
    text-decoration: none;
}

.nostyle {
    text-decoration: none !important;
    color: black !important;
}

.logo {
    font-family: "Alegreya";
    font-weight: 1000;
    font-size: 28px;
    margin: 5px 0px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}

.navbuttons{
    font-weight: bold;
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    flex-direction: row;
}
.navlink:hover{
    opacity: 0.6;
}

.connect {
    cursor: pointer;
    outline: 0.5px solid #4c5770;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
}

.connect:hover {
    background-color: #00acc1; 
}

.navlink {
    margin: 15px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

.definition-header {
    font-size: 22px;
    font-weight: bold;
}

.definition-container {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.dos {
    background-color: #e7e3dc;
    flex-direction: column;
}

.note {
    margin: 15px 0px;
}

.blurb {
    outline: 1px solid #00acc1;
    padding: 15px;
    border-radius: 5px;
}

.content-left {
    max-width: 45%;
}
.content-right{
    max-width: 50%;
}

.stonemasters-wrap {
    padding: 15px;
    border-radius: 10px;
    outline: 5px dashed #00acc1;
}

.stonemasters {
    max-width: 350px;
    border-radius: 5px;
}

.content-header {
    color: #ff9800;
    font-weight: 1000;
    font-size: 32px;
    text-overflow: wrap;
}

.header-block {
    margin-bottom: 15px;
}

.content-subheader {
    color: #ff9800;
    font-weight: 1000;
    font-size: 20px;
    text-overflow: wrap;
}

.highlight {
    background-color:  #ff9800;
    color: white;
    border-radius: 3px;
    padding: 1px 5px;
}

.definition {
    color: black;
}

.definition-word {
    text-align: left;
    color: #ff9800;
    font-size: 40px;
    font-family: 'Alegreya'; 
}

.content-block {
    margin: 15px 0px;
}

.emphasis {
    font-weight: 1000;
    color: #ff9800;
}