.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.input {
    background-color:#e7e3dc;
    color: black;
}

