.chalet-wrapper {
    display: flex;
    flex-direction: column;
}

.chalet-info{
    width: 100%;
    justify-content: space-between;
}

.chalet-top {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(188, 188, 188);
}
.chalet-tabs{
    /* width: 100%; */
    border-bottom: 1px solid rgb(188, 188, 188);
}

ul {
    list-style: none;
}

.tab-button {
    cursor: pointer;
}

.selected {
    color: #00acc1;
    border-bottom: 3px solid #00acc1;
}